//Weather App
#weather-form-container {
  display: flex;
}
#port-form {
  margin: 25vh auto;
}
#location-search-field {
  display: flex;
}
#find-me-image {
  svg {
    margin: 20px 0;
  }
  :hover {
    cursor: pointer;
  }
}
#weather-results {
  display: flex;
  p {
    margin: 15vh 20px 20px 20px;
  }
}
#weather-icon {
    width: 150px;
    height: 150px;
}
#weather-icon-container {
  display: flex;
  justify-content: center;
}
#search-again-btn {
  display: flex;
  justify-content: center;
}

//Snakes and Ladders

#sandl-container {
  height: 87.5vh;
  display: flex;
  flex-wrap: wrap;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  #players {
    width: 12.5%;
    display: flex;
    flex-direction: column;
    margin: auto 0px;
    .player-display {
      display: flex;
      margin: auto;
    }
    #p1 div {
      background-color: red;
      width: 25px;
      height: 25px;
      margin: 10px;
      border-radius: 25px;
    }
    #p2 div {
      background-color: blue;
      width: 25px;
      height: 25px;
      margin: 10px;
      border-radius: 25px;
    }
    #score-info {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      height: 40vh;
      margin: 20px 0px 0px 0px;
      p {
        text-align: center;
      }
    }
  }
  #board {
    width: 77.5%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    .board-row {
      display: flex;
      width: 100%;
      .square {
        display: flex;
        width: 10%;
        justify-content: center;
        border: 2px black solid;
      }
    }
    p {
      text-align: center;
      color: black;
      margin: auto 10px;

    }
    :nth-child(even) {
        flex-direction: row-reverse;
    }
  }
  button {
    width: 90%;
    margin: 20px auto;
  }
  #p1-Circle {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 25px;
    margin: auto 0px;
  }
  #p2-Circle {
    width: 15px;
    height: 15px;
    background-color: blue;
    border-radius: 25px;
    margin: auto 0px;
  }
  #dice {
    height: 10vh;
  }
}

//Random Quote

#quote-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  p {
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  p:nth-child(2) {
    text-align: right;
  }
  button {
    width: 50%;
    height: 50px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 450px) {
  #quote-container {
    margin: auto;
    width: 90%;
  }
  #port-form {
    width: 60%;
  }
  #sandl-container {
    height: 100%;
    flex-flow: column-reverse;
    #board {
      width: 100%;
      min-height: 65vh;
      .square {
        width: 10%;
        flex-flow: column;
        div {
          margin: auto;
          width: 10px;
          height: 10px;
        }
      }
      p {
        font-size: 7px;
      }
    }
    #players {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: wrap;
      background-color: rgba(0, 0, 0, 0.7);
      #score-info {
        height: 100%;
        margin: 0px 5px;
        #roll-dice-info {
          width: 100%;
          margin: 0px auto;
        }
      }
      #dice {
        margin: 0px;
        height: 10vh;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 451px) and (max-width: 1000px) {
  #sandl-container {
    #board {
      width: 80%;
    }
    #players {
      width: 19%;
    }
  }
}
